<div class="nested-fields">
  <div>
    <%= f.label :content %>
  </div>
  <div class="field">
    <%= f.text_area :content, :size => "30 x 5" %> 
  <%= link_to_remove_association "削除", f %>
  </div>
</div>
