<div class="nested-fields">
  <div>
    <%= f.label :content %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: '例) 卵を容器に割り入れる', size: '50 x 10' %> 
    <%= link_to_remove_association "削除", f %>
  </div>
</div>
