<div class="nested-fields">
  <div class="card">
    <div class="card-content">
      <div class="field">
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, placeholder: '例) 卵を容器に割り入れる', class: "materialize-textarea" %> 
      </div>
      <div class="delete-button">
        <%= link_to_remove_association "削除", f, class: "btn red" %>
      </div>
    </div>
  </div>
</div>
