<h1>レシピ一覧</h1>

<hr />
<% @recipes.each do |recipe| %>
  <div class="recipe-box">
    <h3>
      <%= link_to "#{recipe.title}", recipe_path(recipe) %>
    </h3>
    <h5>
      <%= recipe.updated_at.strftime('%Y.%m.%d') %><br>
    </h5>
  </div>
<% end %>
