<h1>Myレシピ</h2>
<hr>
<h2>料理名:[ここにタイトル]</h2>
<hr>
<h2>材料</h2>
<h3>
  <ul>
    <li>例：小麦粉 30g</li>
    <li>[ここにリストで記述]</li>
    <li>[ここにリストで記述]</li>
    <li>[ここにリストで記述]</li>
  </ul>
</h3>
<hr>
<h2>行程</h2>
<h3>
  <ul>
    <li>1.</li>
      <p>
        小麦粉と水を混ぜます。
      </p>
    <li>[ここにリストで番号を記述]</li>
      <p>
        [ここに内容を記述]
      </p>
    <li>[ここにリストで番号を記述]</li>
      <p>
        [ここに内容を記述]
      </p>
    <li>[ここにリストで番号を記述]</li>
      <p>
        [ここに内容を記述]
      </p>
  </ul>
</h3>
