<h1>Myレシピ</h1>
<hr>
<h2><%= @recipe.title %></h2>
<hr>
<h2>材料</h2>
<h3>
  <ul>
    <% @recipe.materials.each do |material| %>
      <li><%= material.name %>:<%= material.amount %></li>
    <% end %>
  </ul>
</h3>
<hr>
<h2>行程</h2>
<h3>
  <ul>
    <% @recipe.progresses.each do |progress| %>
      <li><%= progress.content %></li>
    <% end %>
  </ul>
</h3>
<hr>
<a href="/recipes/:id/edit">
  <button type="button">
    <font size="3">レシピの編集</font>
  </button>
</a>
