<h1>レシピ一覧</h1>

<hr>
<% @recipes.each do |recipe| %>
  <h3>
    <a href="/recipes/recipe">
      <input type="hidden" name="<%= recipe.id %>">
      <%= recipe.title %>
    </a>
  </h3>
  <h5>
    <%= recipe.postdate %><br>
  </h5>
  <hr>
<% end %>
