<h1>レシピ一覧</h1>

<hr>
<% @recipes.each do |recipe| %>
  <h3>
    <%= link_to "#{recipe.title}", :controller => "recipes", :action => "recipe", :data => "#{recipe.id}"%>
  </h3>
  <h5>
    <%= recipe.created_at %><br>
  </h5>
  <hr>
<% end %>
