<h1>アイデア一覧</h1>
<hr>
<% @recipes.each do |recipe| %>
  <h3>
    <%= link_to "#{recipe.title}", :controller => "recipeideas", :action => "idea", :data => "#{recipe.id}"%>
  </h3>
  <h5>
    <%= recipe.created_at %>
  </h5>
  <hr>
<% end %>
