<h1><%= current_user.name %></h1>
<h3><%= current_user.id %></h3>
<h3>
  <a href="/recipes/new">
    <button type="button">
      <font size="3">今日のレシピを投稿</font>
    </button>
  </a>
</h3>
<hr>
<h2>お気に入りMyレシピ</h2>
<hr>
<h2>自炊メーター</h2>
