<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>LetsCOOK</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <h1>LetsCOOK</h1>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
